*{
    padding: 0;
    margin: 0;
}

.navigation{
    width: 98%;
    background: rgb(21,21,69);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    overflow: hidden;
    overflow: hidden;
}

.navigation ul{
    display: flex;
    list-style-type: none;
    width:45%;
    text-align: center;
    margin: auto 0;
    justify-content: space-between;
}

.navigation ul li{
    font-weight: bold;
    border-radius: 5px;
  padding: 1em;
}

.navigation ul li>*{
  width: 120px;
  margin: 0 auto;
    
}





.active{
        width: 140px;
    padding: 1em;
    font-weight: bold;
    border-radius: 5px;
    background-color: #ffd700;
    color: rgb(21,21,69);

}